.navbar {
    display: flex;
    justify-content: center;
    background-color: white;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
  }
  
  .navbar__language {
    margin-left: auto;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    align-self: center;
    vertical-align: auto;
  }
  
  .navbar__login {
    margin-left: auto;
    margin-right: 20px;
  }
  .container {
    width: 1140px;
    display: flex;
    align-items: center;
  }
