.navbar {
    display: flex;
    justify-content: center;
    background-color: white;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
  }
  
  .navbar__language {
    margin-left: auto;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    align-self: center;
    vertical-align: auto;
  }
  
  .navbar__login {
    margin-left: auto;
    align-items: center;
  }
  .container {
    display: flex;
    align-items: center;
  }

  .navbar__login a,
.navbar__registration a {
  justify-self: center;
  text-decoration: none;
  color: #566885;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  transition: color 0.3s ease;
  margin: 2px;
}

.navbar__login a:hover,
.navbar__registration a:hover {
  color: #1a1a1a;
}
